
@{
    ViewData["Title"] = "BookTicketView";
}

@model Labb3WebbMVC.Models.Viewing

<div>
<table class="table table-striped">
    <tr>
        <td>@Html.DisplayFor(model => model.Id)</td>
        <td>@Html.DisplayFor(model => model.MovieId)</td>
        <td>@Html.DisplayFor(model => model.MovieTitle)</td>
        <td>@Html.DisplayFor(model => model.Salon.Id)</td>
        <td>@Html.DisplayFor(model => model.Salon.Number)</td>
        <td>@Html.DisplayFor(model => model.Salon.RemainingSeats)</td>
        <td>@Html.DisplayFor(model => model.Salon.SeatCapacity)</td>
        <td>@Html.DisplayFor(model => model.Salon)</td>
        <td>@Html.DisplayFor(model => model.StartTime)</td>
    </tr>
</table>
</div>
